body{
    align-items: center;
    text-align: center;
    justify-content:space-evenly;
}

#naptarfel{
    background-color:gainsboro;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

button{
    width: 80px;
}

#napok{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    padding: 20px;
}

#honapnap{
    width: 300px;
}